
/env
app/.env
.idea
.vscode
db.sqlite3
*.pem
__pycache__
*.pyc
*.pyo
*.egg-info/
*.egg
*.log
*.pot
*.po
*.mo
*.db
*.sqlite3
*.rest
*.ini
.vs
trunk
Makefile
/staticfiles/
/media/
.trunk

*.DS_Store
.DS_Store?
